@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

body {
  padding: 40px;
  color: #7fe7cc;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
}

form {
  border: 3px solid #7fe7cc;
  padding: 20px;
  width: 60%;
  font-size: 1.2em;
}

input[type=text], input[type=number] {
  border: none;
  border-bottom: 3px solid #7fe7cc;
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  outline: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  font-weight: bold;
  color: #7fe7cc;
}

input[type=text]:focus, input[type=number]:focus {
  background-color: #7fe7cc;
  color: white;
}

input[type=number] {
  width: 20%;
}

button[type=submit] {
  background-color: #7fe7cc;
  border: 3px solid #7fe7cc;
  padding: 40px 20px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}

button[type=submit]:hover, input[type=submit]:focus {
  color: #7fe7cc;
  background-color: white;
  cursor: pointer;
}

::selection {
  color: white;
  background-color: blue;
}

body {
  padding: 6px 40px 40px 40px;
  color: #7fe7cc;
  font-family: 'Roboto Mono', monospace;
}

#mc {
  border-collapse: collapse;
  width: 60%;
  text-align: left;
}

#mc td, #mc th {
  border: 1px solid #7fe7cc;
  padding: 8px;
}

#mc th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #7fe7cc;
  color: white;
  text-transform: uppercase;
}

#mc tr:nth-child(even) {
  background-color: #ffeaea;
}

#mc tr:hover {
  background-color: #ffc6c6;
}

.new-person {
  color: white;
  background-color: #7fe7cc;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 20px 0;
  border: 3px solid #7fe7cc;
}

.new-person:hover {
  background-color: white;
  color: #7fe7cc;
}

::selection {
  background-color: blue;
  color: white;
}

.loeschen {
  text-align: center;
}

.loeschen button {
  text-decoration: none;
  color: #7fe7cc;
  font-weight: bold;
  display: block;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  width: 100%;
  height: 100%;
}

.loeschen:hover button {
  background-color: #7fe7cc;
  cursor: pointer;
  color: white;
}
