@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
  body {
    padding: 40px;
    color: red;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8em;
  }
  form {
    border: 3px solid red;
    padding: 20px;
    width: 60%;
    font-size: 1.2em;
  }
  input[type=text], input[type=number] {
    border: none;
    border-bottom: 3px solid red;
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    outline: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    font-weight: bold;
    color: red;
  }
  input[type=text]:focus, input[type=number]:focus {
    background-color: red;
    color: white;
  }
  input[type=number] {
    width: 20%;
  }
  button[type=submit] {
    background-color: red;
    border: 3px solid red;
    padding: 40px 20px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
  }
  button[type=submit]:hover, input[type=submit]:focus {
    color: red;
    background-color: white;
    cursor: pointer;
  }
  ::selection {
    color: white;
    background-color: blue;
  }
